<div class="w-75 p-3" style="margin-left: 12.5%">
  <div class="card mt-3" style="border: none">
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.body %></p>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="mt-2 d-flex flex-row-reverse">
      <%= link_to "Delete",  article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger ms-2" %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
