// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sub-container {
  margin-top: -5px;
}

.icon-height {
  height: 24px;
  margin-top:5px;
}

.background-image {
  margin-top: -5px;
  width: 100%;
}

.login-background {
  background-image: image_url('law.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.input-group:focus-within .form-control {
  box-shadow: none;
  border-color: transparent;
}

.landing-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.landing-page {
  position: relative;
}

.animated-text {
  position: relative;
  right: -100%; /* Start the element outside the screen */
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* Keeps the element in its final state after the animation ends */
}

@keyframes slide-in {
  0% {
    right: -100%; /* Start the element outside the screen */
  }
  100% {
    right: 0%; /* End the element at its original position */
  }
}
