<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo1.jpeg", class: "d-inline-block align-text-top",  style: 'width: 120px; height: 80px' %>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="https://web.whatsapp.com/">
          Call Us/Whatsapp: (+92) 345 178 6688
        </a>

        <a class="nav-link" href="adv.saim10@gmail.com">
          <i class="fa fa-envelope fa-2x"></i>
        </a>

         <a class="nav-link" href="abc@example.com">
          <i class="fab fa-instagram-square fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</nav>